*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.heading{
    text-align: center;
}

.operation{
    color: rgb(82, 82, 213);
}
.flexdisplay{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    background-color: #d7d7d7;
    width: 300px;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
    padding: 15px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
    box-shadow: 0 1x 4px  rgb(170, 168, 168);
}

button{
    border: none;
    background-color: #d7d7d7;
}
button:hover{
    background-color: #5c5b5b;
}

.screen{
    grid-column-start: 1;
    grid-column-end: 5;
    
}
.grid{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(82, 82, 213);
    color: white;
}

#result{
  
    border: none;
    height: 60px;
    background-color: rgb(187, 187, 187);
    padding: 10px;
}

